.page2 {

}

.tamanoColumna50{
	height:50%;
}

.divMedio{
	text-align:center;
}

.bordeDerecho{
	border-right-width: 5px;
    border-right-style: inset
}

.bordeIzquierdo{
	border-left-width: 5px;
    border-left-style: inset;
}

.bordeSuperior{
	border-top-width: 5px;
    border-top-style: inset;
}

.botonEspecial6{
	padding:6em;
}

.botonEspecial610{
	padding:6em 10em;
}

.botonCentradoVertical{
	margin-top: 3%;
}